@font-face{
    font-family: 'Roboto';
    src: url('fonts/Roboto/Roboto-Regular.ttf');
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

html + body {
    height: 100%;
    width: 100%;
}

.header, .breadcrumb {
    height: 8vh;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-left: 40px;
}

.header {
    background-color: white;
}


.breadcrumb {
    background-color: white;
    color: white;
}

.breadcrumb ol {
    list-style: none;
    display: flex;
    flex-direction: row;
}

.breadcrumb li::before {
    content: '|';
    padding: 0 1rem;
}

.breadcrumb li:first-child::before{
    content: '';
    padding: 0;
}

.main {
    height: 100%;
    width: 100%;
    /* background-color: gray; */
    
}


.landing {
    height: 84vh;
    width: 100%;
    background-image: url('images/office2.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding: 0 40px;
}

#index .users-container {
    height: 100%;
    width: 100%;    
    padding: 3rem 0;
}

#index .users-container h1 {
    padding-bottom: 3rem;
    text-align: center;
}

#index .users { 
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(5, 180px);
    grid-auto-flow: row;
    align-content: center;
    grid-gap: 60px;
    justify-content: space-evenly;  
}

#index .users a {
    height: 250px;
    width: 100%;
    text-decoration: none;
}

#index .user {
    height: 100%;
    width: 100%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    color: black;
    word-wrap: break-word;
    border-radius: 10px;
    transition: 1s linear;
}

.article-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;
    margin: 0;
    width: 100%;
}

.article-list-item {
    height: 200px;
    width: 800px;
    background-color: white;
    display: grid;
    border: 1px solid black;
}

/* .article-list {
    height: 100px;
    width: 100%;
    background-color: black;
} */