html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}

.header, .breadcrumb {
    height: 8vh;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-left: 40px;
}

.header {
    background-color: white;
}

.main {
    height: 100%;
    width: 100%;
    background-color: gray;
}

.breadcrumb {
    background-color: black;
    color: white;
}

.breadcrumb ol {
    list-style: none;
    margin: 0;
    padding: 0;
}

.landing {
    height: 84vh;
    width: 100%;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0 40px;
}

.landing > h1, p {
    margin: 0;
    padding: 0;
}

.users { 
    display: grid;
}